.table-thead {
    background: #1971c2;
    color: white;
}
.btn-c {
    background-color: #27c2a5;
    color: #fff;
    font-size: 15px;
    padding: 7px 14px;
    border-radius: 5px;
    border-bottom: 4px solid #219882;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
}
.btn-c:hover, .btn-c:focus {
    background-color: #25a890;
    border-bottom: 4px solid #25a890;
}
.table td {
    padding-top: .4rem !important;
    padding-bottom: .4rem !important;
}
.table th div {
    float: right;
    padding-right: 5px;
}
.mobile_topbar {
    text-align: center;
    line-height: 45px;
    background: #53b4b0;
    color: white;
    font-weight: 700;
    font-size: 17px;
}
.mobile_btn {
    background: #53b4b0 !important;
}